@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap);
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: #000;
  background-color: #d9d9d9;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar {
  display: none;
}

#scroll-top {
  display: inline;
  position: relative;
}

#scroll-top button {
  display: inline;
  justify-items: end;
  cursor: pointer;
  border: none;
  background: transparent;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding-bottom: 1rem;
  float: right;
}

#scroll-top button svg {
  width: 55px;
  height: 55px;
  transition: scale 200ms;
}
#scroll-top button:hover svg {
  scale: 0.95;
}

.container {
  width: 90%;
  margin: 1.5rem auto;
}
.btn-group {
  display: flex;
  width: fit-content;
}
header {
  display: inline;
}
header .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .head .logo {
  font-size: 1.5rem;
  font-weight: 400;
}
header .head .logo span {
  font-weight: 700;
}
header .head .msg {
  display: none;
}
header .head .btn-group button {
  border: 1px solid #000;
  border-radius: 100px;
  background: 0 0;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
header .head button:nth-child(1) {
  padding: 0.5rem 1.62rem 0.5rem 1rem;
}
header .head button:nth-child(2) {
  padding: 0.5rem 1rem 0.5rem 1.62rem;
  margin-left: -0.95rem;
}
header .head .btn-group button:hover {
  color: #fff;
  background: #000;
  transition: all ease-in-out 0.3s;
}
header .body {
  margin-top: 5rem;
  display: block;
}
header .body h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 113.156%;
}
header .body p:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 400;
}
header .body p span {
  color: #b00000;
  font-size: 1.8rem;
  font-weight: 700;
}
header .body p:nth-child(3) {
  margin-top: 3.5rem;
  color: #5c5c5c;
  font-size: 0.48rem;
}
header .body .btn-group button {
  margin-top: 0.8rem;
  cursor: pointer;
}
header .body .btn-group button:nth-child(1) {
  padding: 0.875rem 1.25rem;
  border: 1px solid #000;
  background: 0 0;
  font-family: Inter;
  font-size: 0.75rem;
  font-weight: 400;
}
header .body .btn-group button:nth-child(2) {
  padding: 0.9375rem 1rem;
  background: #bfbfbf;
  border: 1px solid #000;
  border-left: none;
}
header nav {
  top: 0;
  display: flex;
  position: sticky;
  justify-content: center;
  justify-items: center;
  margin-top: 3rem !important;
  padding-top: 20px;
}
header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.3rem;
  border-radius: 3.4375rem;
  border: 1px solid #747474;
  background: rgba(116, 116, 116, 0.12);
  backdrop-filter: blur(9px);
}
header nav ul li {
  display: block;
  text-align: center;
  width: 50px;
}
header nav ul li a {
  color: #000;
  font-family: Inter;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.2s ease-in-out;
}
header nav ul li a:hover {
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

main article {
  /* padding-top: 6rem; */
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
}

main article h1 {
  font-size: 4.5rem;
}

#welcome {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#welcome h1 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2rem;
}
#welcome h1 span {
  font-weight: 700;
}

#welcome p {
  margin-top: 1rem;
  margin-left: 0.3rem;
  font-size: 0.7;
  font-weight: 400;
  text-decoration-line: underline;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
  header nav ul {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  header .body h1 {
    font-size: 5rem;
  }
  header nav ul {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 924px;
  }

  header .head .msg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    font-size: 0.95rem;
    font-weight: 400;
  }

  header .body h1 {
    font-size: 5.5rem;
    max-width: 70%;
  }

  header .body p:nth-child(2) {
    font-size: 1.5rem;
  }

  header .body p span {
    font-size: 2rem;
  }
  header nav {
    margin-top: 8rem !important;
  }

  header nav ul {
    width: 50%;
    padding: 1.25rem 3.125rem;
  }

  header nav ul li a {
    font-size: 1rem;
  }

  #cursor-ring {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 80px;
    height: 80px;
    mix-blend-mode: difference;
    background-color: #fafafa;
    border-radius: 50%;
    pointer-events: none;
    transition: scale 100ms;
  }

  #cursor-ring.active {
    scale: 0.75;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1220px;
  }
  header .body h1 {
    font-size: 5.5rem;
    max-width: 50%;
    font-weight: 400;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
  header .body h1 {
    margin-top: 12rem;
    font-size: 7rem;
  }
  header nav {
    margin-top: 15rem !important;
  }
}
